
# This file is used to ignore files which should not be pushed to the repository
# Ignore colcon build files
build/
install/
log/

# Ignore CMake build files
cmake-build-*/
.cmake/
CMakeFiles/
Makefile
CMakeCache.txt
cmake_install.cmake


*.autosave
*.elf
*.gch
*.hex
*.map
*.obj
*.pyc
*.pyd
*.so
*.o
*.user
*.ninja
.vs
.vscode
.venv
.idea